div.w3-light-grey {
background-color: transparent !important;
}

.profile::-webkit-scrollbar {
	width: 0 !important
}

.profile {
	overflow: -moz-scrollbars-none;
}

.profile {
	-ms-overflow-style: none;
}


/* Test for new samples layout */

.dropup {
	display: none;
}

#sample-container {
	display: flex;
	max-width: 100%;
	align-items: center;
	margin-bottom: 100px;

}

.samplebod {
	display: flex;
	flex-direction: row;
	flex flex-wrap: wrap;
	padding-top: 10%;

	/*
	postion: absolute;
	top: 110px;
	bottom: 466px;
	left: 1013px;
	right: 1304px;
	margin-left: 21%;

  position: relative;
  */

	margin: 0 auto;

}

.samplecard {
	height: 356px;
	height: auto;
	width: 291px;
	margin: 15px;
	border: 40px border-color:#dde2e5;
	border-radius: 8px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 4px 4px rgba(128, 128, 128, 0.4);
	padding: 10px 10px 15px;
	background: oldlace;
	background: #fdf2e7;
	cursor: pointer;
}

.samplecard:hover {
	box-shadow: 0px 0px 8px #66ccff;
}

.samplecard hr {
	margin-top: 5px;
	margin-bottom: 5px;
	display: none;
}

.samplecard.category {
	background-repeat: no-repeat;
	background-size: contain;
	height: 193px;
	position: relative;
	border-radius: 0;
}

.samplecard.category:hover {
	box-shadow: 4px 4px rgba(128, 128, 128, 0.4);
}

a {
	color: #F04A00;

}

a:hover {
	color: #F04A00;

}

.load_more {
	color: white;
	background: #F3F3F3;
	border-radius: 1.5em;
	position: absolute;
	padding: 1em;
	text-decoration: none;
	width: 100%;
	top: 100%;
	left: 1%;
	margin: auto;
	text-align: center;
	font-size: 20px;
}

.load_more:hover {
	box-shadow: 0px 0px 8px #66ccff;
	cursor: pointer;
}

#privacy {
	background-image: url('images/privacy.jpg');
}

#privacy h3 {
	top: 15px;
	left: -8px;
}

#cybersecurity {
	background-color: #2eb8b8;
	background-image: url('images/cyber-security.jpg');
	background-position: 0px -24px;
	background-position: 0px 0px;
}

#cybersecurity h3 {
	top: 75px;
	letter-spacing: 1px;
	text-shadow: 0px 0px 7px #111;
	font-size: 30px;
}

#personal-finance {
	background-image: url('images/personal-finance.jpg');
}

#personal-finance h3 {
	top: 120px;
	font-size: 26px;
}

.samplecard.category h3 {
	position: relative;
	font-family: 'Bevan', arial;
	color: white;
	text-align: center;
	top: 0;
	left: 0;
}

.tag {
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin-bottom: 15px;
	margin-left: 15px;
	text-transform: uppercase;

	display: none;
}

.title {
	text-align: center;
	color: #457489;
	color: #21374e;
	color: #3a349e;
	color: #534db3;
	font-family: 'Bevan', arial;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 18px;
}

.title:hover {
	color: #007bff;
}

.descample {
	font-family: 'Libre Baskerville', serif;
	font-weight: 100;
	font-size: 12px;
	letter-spacing: 0.05em;
	margin-top: 10px;
	margin-left: 10px;
	word-wrap: break-word;
	text-overflow: ellipsis;
	max-height: 50px;
	overflow: hidden;
	/* white-space: nowrap; */
}

.finance {
	color: darkgreen;
}

.cybersecurity {
	color: lightseagreen;
}

.identity {
	color: orangered;
}

.privacy {
	color: blue;
}

/* Test for new samples layout */
.w3-margin-top {
	margin-top: 100px !important;
}

.navbar {
	background: #192231;
}

.display {
	padding-top: 20px;
	background-image: linear-gradient(to bottom, #494e6b, #555e81, #616e97, #6d7fae, #7890c6, #7592c8, #7293cb, #6f95cd, #5f86ba, #5078a6, #416a93, #335c81);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.front {
	overflow: hidden;
}

.about {
	background: linear-gradient(to bottom, #494e6b, #555e81, #616e97, #6d7fae, #7890c6, #7592c8, #7293cb, #6f95cd, #5F86B7, #5078a6, #416a93, #335c81, 70%, #335c81, 71%, #494e6b, 72%, #494e6b);
	background-repeat: no-repeat;

}


.nav-link,
.navbar-brand {
	color: #f4f4f4;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	background: #f4f4f4;
	color: #a13644;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-toggler {
	background: #fff !important;
}

.navbar-collapse {
	justify-content: flex-end;
}

.bg-dark {
	background-color: #343a40 !important
}

.bg-primary {
	background-color: #007bff !important
}

.header {
	background-image: url(/images/GGB%20Wide.JPG);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;

}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.45);
}


.description {
	position: absolute;
	top: 30%;
	padding: 1em;
}

.description h1 {
	color: #F04A00;
	font-size: 90px;
	line-height: 70%;

}

#more {
	position: absolute;
	top: 53%;
	right: 53%;
	border: 1px solid #F04A00;
	background: #F04A00;
	color: #fff;
	z-index: 99;
}

#experience {
	position: absolute;
	top: 53%;
	left: 53%;
	border: 1px solid #F04A00;
	background: #F04A00;
	color: #fff;
	Z-index: 99;
}



#app {
	padding-top: 10px;
}

.wrapper {
	height: 900px;
	max-width: 810px;
	margin: auto;
}

@keyframes blink {

	from,
	to {
		background-color: transparent;
	}

	50% {
		background-color: orange;
	}
}

.profile {
	margin-top: 7%;
	background-color: white;
	/* width: 75%; */
	margin-left: 15%;
	overflow: auto;
	/* max-height: 700px; */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: 3.9em 0;
	width: 100%;
	padding: 2em;
}

.me {
	padding: 10px;
	border-width: 0%;
	width: 33%;
	height: auto;
	float: left;
	display: block;
	margin-right: 18px;
}

.blurb {}

.profile-img {
	max-width: 100%;
}

.portmen {
	position: absolute;
	left: 41%;
	margin-top: 10%;
}

#filter {
	left: 50%;
	margin-left: -350px;
}

.portfoliurb {
	margin-top: 50px;
	top: 10%;
	text-align: center;
	color: white;
	margin-bottom: -10%;
	padding: 2%;
}

.samples {
	position: relative;
	height: 750px;
	top: 11%;
}

.sampletitle {
	color: white;
}

.meetme {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 45px;
	font-style: italic;
}

.aboutme {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 22px;
}

.form {
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	min-width: 300px;
	position: absolute;
	top: 13%;
	margin-left: -25%;
	left: 50%;
	width: 50%;
	padding-left: 16%;
	padding-top: 1.3%;
	padding-bottom: 1.5%;

}

.later {
	display: none;
}

.shift {
	margin-left: 25%;
}

@media only screen and (max-width: 770px),
screen and (max-height: 770px) {

	#more {
		position: absolute;
		top: 60%;
		right: 53%;
		display: block;
	}

	#experience {
		position: absolute;
		top: 60%;
		left: 53%;
	}

	.social-buttons {
		top: 75%;
		padding-top: 6%;
		z-index: 0;
	}

	.form {
		width: 100%;
		padding: 5%;
		margin-left: auto;
		left: auto;
		position: absolute;
		top: 15%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.app {
	line-height: 115% !important;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.btn-social > :first-child {
	position: absolute;
	left: 0;
	top: 10px;
	bottom: 0;
	width: 53px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
}

a.btn-social,
.btn-social {
	border-radius: 50%;
	color: #ffffff !important;
	display: inline-block;
	height: 54px;
	line-height: 54px;
	margin: 8px 4px;
	text-align: center;
	text-decoration: none;
	transition: background-color .3s;
	webkit-transition: background-color .3s;
	width: 54px;
}

.btn-social .fa,
.btn-social i {
	backface-visibility: hidden;
	moz-backface-visibility: hidden;
	ms-transform: scale(1);
	o-transform: scale(1);
	transform: scale(1);
	transition: all .25s;
	webkit-backface-visibility: hidden;
	webkit-transform: scale(1);
	webkit-transition: all .25s;
}

.btn-social:hover,
.btn-social:focus {
	color: #fff;
	outline: none;
	text-decoration: none;
}

.btn-social:hover .fa,
.btn-social:focus .fa,
.btn-social:hover i,
.btn-social:focus i {
	ms-transform: scale(1.3);
	o-transform: scale(1.3);
	transform: scale(1.3);
	webkit-transform: scale(1.3);
}

.btn-social.btn-xs {
	font-size: 9px;
	height: 24px;
	line-height: 13px;
	margin: 6px 2px;
	width: 24px;
}

.btn-social.btn-sm {
	font-size: 13px;
	height: 36px;
	line-height: 18px;
	margin: 6px 2px;
	width: 36px;
}

.btn-social.btn-lg {
	font-size: 22px;
	height: 72px;
	line-height: 40px;
	margin: 10px 6px;
	width: 72px;
}


.social-buttons {
	position: absolute;
	top: 60%;
	height: 75px;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	display: flex;
}

.btn-facebook {
	background-color: #3b5998;

}

.btn-facebook:hover {
	background-color: #4c70ba;
}

.btn-linkedin {
	background-color: #0976b4;


}

.btn-linkedin:hover {
	background-color: #0b96e5;
}

.btn-reddit {
	background-color: #ff4500;


}

.btn-reddit:hover {
	background-color: #ff6a33;
}

.btn-twitter {
	background-color: #55acee;


}

.btn-twitter:hover {
	background-color: #83c3f3;
}

.btn-email {
	background-color: #44c456;

}

.btn-email:hover {
	background-color: #6bd079;
}

.btn-quora {
	background-color: red;

	.btn-quora:hover {
		background-color: lightcoral;
	}
